<h1>Add</h1>

<div class="row">
    <form action="/add" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate" required>
                <label for="name">Enter name</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="price" name="price" type="number" class="validate" required>
                <label for="price">Enter price</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>
        </div>

        <button class="btn btn-primary">Add</button>
    </form>
</div>