<div class="container">
<div class="row">
    <table class="highlight col l6 offset-l3">
        <tr class="row">
            <th class="col l4">Name</th>
            <th class="col l6">Price</th>
        </tr>
        <tr class="row">
            <td class="col l4">{{ person.name }}</td>
            <td class="col l6">{{ person.price }}</td>
        </tr>
    </table>
</div>
</div>